{extend name="v1/public:base" /}

{block name="style"}
<!-- 编辑页面style -->
 {/block}
{block name="main"}

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="#">课程管理</a>
							</li>
							<li class="active">1v1</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								1V1 课程列表
								<small>
									<i class="icon-double-angle-right"></i>
									1v1 &amp; Course Tables
								</small>
							</h1>
						</div><!-- /.page-header -->
						<div class="page-header">
							<a href="/admin/v1/hours/add"><button class="btn btn-primary">新增</button></a>
<!-- 							<button class="btn btn-primary">批量上线</button>
							<button class="btn btn-warning">删除</button>
							<button class="btn btn-warning">批量下线</button>
							<button class="btn btn-info">导出</button> -->
						</div>

						<div class="page-header">
					        <form action="">
					            <div class="form-group" style="display: inline">
					                <label for="" class="control-label" style="display: inline">年级：</label>
					                <div style="display: inline">
					                    <select name="grade_id">
					                    	<option value="">不限</option>
					                          {foreach $grades as $grades}
                                				<option value="{$grades.id}">{$grades.name}</option>
                                			{/foreach}
					                    </select>
					                </div>
					            <div class="form-group" style="display: inline">
					                <label for="" class="control-label" style="display: inline">授课方式：</label>
					                <div style="display: inline">
					                    <select name="type" id="">
					                        <option value="">不限</option>
					                        <option value="0">线上</option>
					                        <option value="1">面授</option>
					                    </select>
					                </div>
					            </div>
					            <button class="btn btn-primary" style="display: inline-block">确定</button>
					        </form>
           				</div>


						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label>
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th>ID</th>
														<th>名称</th>
														<th>年级</th>
														<th>课时</th>
														<th>授课类型</th>
														<th>授课方式</th>
														<th>价格</th>
														<th>操作</th>
													</tr>
												</thead>

												<tbody>
												{foreach $classes as $class}
													<tr>
														<td class="center">
															<label>
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</td>

														<td>
															<a href="#">{$class->id}</a>
														</td>
														<td>{$class->name}</td>
														<td>{$class->grade->name}</td>
														<td>{$class->hours}</td>
														<td>1v1</td>
														<td>
															{if $class->mode==1}
															线上直播
															{else/}
															面授
															{/if}
														</td>
														<td>{$class->price}</td>
														<td>
															<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
																<a href="/admin/v1/hours/edit/id/{$class.id}"><button class="btn btn-xs btn-info">
																	<i class="icon-edit bigger-120"></i>
																</button></a>

																<a href="/admin/v1/hours/del"><button class="btn btn-xs btn-danger">
																	<i class="icon-trash bigger-120"></i>
																</button></a>

															</div>

														</td>
													</tr>
												{/foreach}
												</tbody>
											</table>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->

								
								<div class="hr hr-18 dotted hr-double"></div>
									
								</div>


							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
{/block}

{block name="js"} 
	<script type="text/javascript">
		jQuery(function($) {
			var oTable1 = $('#sample-table-2').dataTable( {
			"aoColumns": [
		      { "bSortable": false },
		      null, null,null, null, null,
			  { "bSortable": false }
			] } );
			
			
			$('table th input:checkbox').on('click' , function(){
				var that = this;
				$(this).closest('table').find('tr > td:first-child input:checkbox')
				.each(function(){
					this.checked = that.checked;
					$(this).closest('tr').toggleClass('selected');
				});
					
			});
		
		
			$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
			function tooltip_placement(context, source) {
				var $source = $(source);
				var $parent = $source.closest('table')
				var off1 = $parent.offset();
				var w1 = $parent.width();
		
				var off2 = $source.offset();
				var w2 = $source.width();
		
				if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
				return 'left';
			}
		})
	</script>	
	
{/block}