{include file="public/head"/}
<!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">交易记录</div>


                            </div>
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">  
                                            <button  class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick="javascript:history.back(-1);" /> 返回</button>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">   
                                    </div>
                                </div>

                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <!-- <input type="text" class="am-form-field ">
                                        <span class="am-input-group-btn">
                                                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>          </span> -->
                                    </div>
                                </div>

                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>订单号</th>
                                                <th>状态</th>
                                                <th>农场名称</th>
                                                <th>农场价格</th>
                                                <th>创建时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {foreach name='data' item='vo'}
                                            <tr class="gradeX">
                                                <td>{$vo.order_number}</td>
                                                <td>{$vo.type}</td>
                                                <td>{$farm->withTrashed()->find($vo.farm_id)->name}</td>
                                                <td>{$vo.price}&nbsp;元</td>
                                                <td>{$vo.create_time}</td>                    
                                            </tr>  
                                            {/foreach}                                          
                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                    {$data|raw}
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>