<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<!-- 	<link rel="stylesheet" href="/static/css/bootstrap.css"> -->
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/jq/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
<style>
</style>
</head>
<body>
{include file="/v1/public/head"/}

	<div id="navigation"><!-- 导航 -->
		<div class="container">
			<div id="navigation_left">
				<a style="text-decoration: none;" href="/index.php/api/v1/index/index"><img src="/static/image/logo.png" alt=""></a>
			</div>
			<div id="navigation_right">
				<div class="navigation_1 bottom_6_1">
					<div class="navigation_2 navigation_3_active">首页</div>
					<a style="text-decoration: none;" class="farm" href="/index.php/api/v1/farm/index"><div class="navigation_2">智慧农业</div></a>
					<a style="text-decoration: none;" class="navigation_3" href="/index.php/api/v1/other/other_product_description"><div class="navigation_2">产品教程</div></a>
					<a style="text-decoration: none;" class="navigation_3" href="#"><div class="navigation_2">论坛</div></a>
					<a style="text-decoration: none;" class="navigation_3" href="/index.php/api/v1/other/other_about_us"><div class="navigation_2">关于我们</div></a>
				</div>
			</div>
		</div>
	</div>

	<div><!-- 轮播 -->
		<div>
			<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="/static/image/carousel_1.png" alt="First slide">
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<img src="/static/image/carousel_2.png" alt="Second slide">
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<img src="/static/image/carousel_3.png" alt="Third slide">
			<div class="carousel-caption"></div>
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a style="text-decoration: none;" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a style="text-decoration: none;" class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	</a>
</div> 

</div>
	</div>

	<div id="icon_bottom"><!-- 图标 -->
		<div class="container">
			<ul class="nav nav-tabs  nav-tabs_style" id="icon_main">
				<li id="icon">
					<img src="/static/image/ico_1.png" alt="">		
				</li>
				<li id="icon_text">
					<h4>便捷接入</h4>
					<p>只需最简单步骤即可<br>方便快捷的介入病的设备</p>
				</li>
				<li id="icon">
					<img src="/static/image/ico_2.png" alt="">
				</li>
				<li id="icon_text">
					<h4>云存储</h4>
					<p>安全可靠的云存储，<br>为你保留每一条上传的数据</p>
				</li>
				<li id="icon">
					<img src="/static/image/ico_3.png" alt="">
				</li>
				<li id="icon_text">
					<h4>活跃的交流社区</h4>
					<p>论坛、博客各种社区、<br>活跃用户与您分享交流</p>
				</li>
				<li id="icon">
					<img src="/static/image/ico_4.png" alt="">
				</li>
				<li id="icon_text">
					<h4>多平台的支持</h4>
					<p>对多个平台完美支持、走<br>到哪您都可以享受我们的服务</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="container picture"><!-- 农场直播 -->
		<div class="bottom_6_1">
			<div class="container_1">
				<h2>农场直播<br><small>Farm&nbsp;live</small></h2>
			</div>
			<div class="container_2"><br><br>
				<a href="/api/v1/farm/index">More <img src="/static/image/ico_5.png"	></a>
			</div>
		</div>
		<div>
			<div class="show_farm">

					<div class="show_farm">
						{foreach name="data" item="vo"}
						<div class="show_farm_1"><!-- 第一个农场 -->
							<a style="text-decoration: none;" href="/index.php/api/v1/farm/farm_detail?farm_id={$vo.id}">

								<img src="/static/image/picture_1.png" alt="">
								<div class="show_farm_text">
									<div class="show_farm_name"><span>{$vo.name}</span></div>
									<div  class="bottom_6_1 show_farm_map">
										<div class="show_farm_map_left"><img src="/static/image/ico_9.png" alt=""></div>
										<div class="show_farm_map_right">{$vo.province}{$vo.city}{$vo.address}</div>
									</div>
									<div class="bottom_6_1 show_farm_money">
										<div class="show_farm_money_left" style="width: 220px;">
											{foreach $vo.service as $v}
											<button  class="farmlive_button1">{$v}</button>
											{/foreach}


										</div>
										<div class="show_farm_money_right" style="margin-left: 0px;"><span style="font-size: 23px;color:#e00000; ">{$vo.price}</span>元/
											{switch $vo.lease_type }
											{case 1 }年{/case}
											{case 2}半年{/case}
											{case 3}季{/case}
											{case 4}月{/case}
											{default /}
											{/switch}
										</div>
									</div>
								</div>
							</a>
						</div>
						{/foreach}

			</div>
		</div>
	</div>
	</div>
		{include file="/v1/public/foot" /}
		

</body>
</html>