{include file="public/head"/}
<!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">账号添加</div>


                            </div>
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs"> 
            <form class="am-form tpl-form-border-form tpl-form-border-br" method="post" action="/ami/auth/add">
                                         <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">账号 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="user" class="tpl-form-input" id="user-name" value="">
                                            <small>Name</small>
                                        </div>
                                    </div>  

                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">密码 </label>
                                        <div class="am-u-sm-9">
                                            <input type="password" name="password" class="tpl-form-input" id="user-name" value="">
                                            <small>Password</small>
                                        </div>
                                    </div> 

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <input type="submit" class="am-btn am-btn-primary  " value="添加" />
                                        </div>
                                    </div>
                                </form>     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">   
                                    </div>
                                </div>

                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <!-- <input type="text" class="am-form-field ">
                                        <span class="am-input-group-btn">
                                                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>          </span> -->
                                    </div>
                                </div>

                                <div class="am-u-sm-12">
                                   
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>