<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单支付</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<body>
{include file="/v1/public/head"/}

	<div id="navigation_1"><!-- 导航 -->
		<div class="container">
			<div id="navigation_left">
				<a href="index.html"><img src="/static/image/logo.png" alt=""></a>
			</div>
			<div id="navigation_right">
						<div class="navigation_1 bottom_6_1">
					<a  class="navigation_3" href="index.html"><div class="navigation_2">首页</div></a>
					<a class="navigation_3" href="smart_farming.html"><div class="navigation_2">智慧农业</div></a>
					<a class="navigation_3" href="product_description.html"><div class="navigation_2">产品教程</div></a>
					<a class="navigation_3" href=""><div class="navigation_2">论坛</div></a>
					<a class="navigation_3" href="about_us.html"><div class="navigation_2">关于我们</div></a>
				</div>
			</div>
		</div>
	</div>
	

<div class="bottom_6 bottom_6_1">
		<div class="container   pay_color">

			<div><h2>订单支付</h2></div>
			<div class="bottom_6_1 pay_address">
				<div class="pay_address_1">				
					<span class="pay_name">武汉汉南农场一区</span><br>
					<span class="pay_area">面积:1000m²</span><br>
					<span class="pay_address_3">湖北省武汉市汉南区物华路564号</span>
				</div>
				<div class="pay_money">
					<span class="pay_area">总计&nbsp;:&nbsp;<span class="pay_money_1">6200</span>元</span>
				</div>
			</div>
			<div class="pay_code"><img src="/static/image/code_1.png" alt=""><br>微信扫码支付</div>


		</div>
	</div>


{include file="/v1/public/foot"/}
</body>
</html>