<div class="navbar navbar-default" id="navbar" style="background :#b43e3a; height: 5%;">
			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-flag"></i>
							瑶妹麻辣后台管理系统
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle" style="background:#b43e3a;">
								<img class="nav-user-photo" width="30"  src="/static/assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info" style="background:#b43e3a;">
									<small>欢迎光临,</small>
									{$Think.session.name}
								</span>
								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="{:url('/admin/v1/index/logout')}">
										<i class="icon-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>