<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>农场详情</title>
	<link rel="stylesheet" href="/phone/css/bootstrap.css">
	<link rel="stylesheet" href="/phone/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
	<meta name="apple-mobile-web-app-capable" content="yes"> 
	<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
	<meta name="format-detection" content="telephone=no">
	<script type="text/javascript">

        //调用微信JS api 支付
        function jsApiCall() {
            WeixinJSBridge
                .invoke(
                    'getBrandWCPayRequest',
                    {$json|raw},

            function(res) {
                //如果支付成功
                if (res.err_msg == 'get_brand_wcpay_request:ok') {
                    //支付成功后跳转的地址
                    location.href = 'http://www.fineclab.com/api/v2/user/user_lease.html';
                } else if (res.err_msg == 'get_brand_wcpay_request:cancel') {
                    location.href = '';
                }
            });
        }
        function callpay() {
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall,
                        false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            } else {
                jsApiCall();
            }
        }
	</script>
</head>
<body>
	<div class="detail">
		
		<div class="detail_top">
			<div class="detail_video">
				<video src="{$data1.hdAddress}" width="100%" height="170px" style="background-color: #000000;"></video> 
			</div>
			<div class="detail_top_text">
				<div class="detail_top_name">
					<span class="">{$data.name}</span>
					<span class="detail_top_money"><span class="detail_top_money1">{$data.price}</span>元/{switch $data.lease_type }
											    {case 1 }年{/case}
											    {case 2}半年{/case}
											    {case 3}季{/case}
											    {case 4}月{/case}
											    {default /}
											{/switch}</span>
				</div>
				<div class="detail_top_area">面积&nbsp;:&nbsp;{$data.acreage}m²</div>
				<div class="detail_top_button">
					{foreach $data.service as $v}
						<button  class="farmlive_button1">{$v}</button>
						{/foreach}
					
				</div>
			</div>
		</div>

		<div class="detail_address">
			<div class="detail_address1">详细地址&nbsp;:&nbsp;{$data.province}{$data.city}{$data.area}{$data.address}</div>
			<div class="detail_address1">农场主电话&nbsp;:&nbsp;{$data.phone}</div>
		</div>

		<div class="detail_depict">
			<div class="farmlive_top_title"><span class="course_top">•</span><span class="course_title">其他描述</span><span class="course_top">•</span></div>
			<div class="detail_depict1">
				{$data.describe}
			</div>
		</div>
		<div class="detail_button"><button onclick="callpay();" class="detail_button1"><span class="detail_button_text">立即租赁</span></button></div>

		


	</div>
</body>
</html>