<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于我们</title>
	<link rel="stylesheet" href="/phone/css/bootstrap.css">
	<link rel="stylesheet" href="/phone/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
	<meta name="apple-mobile-web-app-capable" content="yes"> 
	<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
	<meta name="format-detection" content="telephone=no"> 
</head>
<body>
	<div  class="aboutUs">
		<div class="aboutUs_1">
			<p>我们是一群热爱互联网，创意设计与农业技术的年轻人，主要成员曾经在国际知名的电信，家电和互联网公司工作。2016年3月正式离职开始“方块智慧农业”的创办和研发，并与2年后正式上线国内第一个开放的农业物联网平台，产品和平台在13年初接收硬件创业孵化器HAXLR8R孵化，并与5月在深圳市成功发布。</p>
			<p>我们是一群热爱生活，憧憬美好未来的年轻人，我们用自己的激情去打造服务生活的现代农业物联网服务。相信我们在软件，互联网，通信和硬件全面的研发能力。能够为用户带来更加贴心的智能生活方式。</p>
		</div>
		<div class="aboutUs_2">地址&nbsp;:&nbsp;武汉市江岸区汉黄路888号岱家山科技创业城10栋1楼</div>
		<div class="aboutUs_2">
			<div class="course_1"><span class="course_top">•</span><span class="course_title">商务咨询</span><span class="course_top">•</span></div>
			<div>
				Email&nbsp;:&nbsp;862944395@qq.com <br><br> QQ&nbsp;:&nbsp;862944395
			</div>
		</div>
		<div class="aboutUs_2">
			<div class="course_1"><span class="course_top">•</span><span class="course_title">技术支持</span><span class="course_top">•</span></div>
			<div>
				Email&nbsp;:&nbsp;862944395@qq.com <br><br> QQ&nbsp;:&nbsp;862944395 <br><br> 交流群&nbsp;:&nbsp;83665632
			</div>
		</div>
	</div>
</body>
</html>