{extend name="v1/public:base" /}

{block name="style"}
<!-- 编辑页面style -->
{/block}
{block name="main"}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">主页</a>
            </li>

            <li>
                <a href="#">图片管理</a>
            </li>
            <li class="active">修改图片</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                修改图片
                <small>
                    <i class="icon-double-angle-right"></i>
                    Edit Images
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <form action="/admin/v1/news/add_news" method="post" class="form-horizontal" role="form" id="form">

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 新闻标题 </label>
                        <div class="col-sm-9">
                            <input name="name" type="text" id="form-field-1" readonly value="{$img->name}" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 新闻图片 </label>
                        <div class="col-sm-4">
                            <input multiple="" name="img" type="file" id="id-input-file-3" />
                            <input type="checkbox" name="file-format" id="id-file-format" class="ace" />
                            <span class="lbl"> Allow only images</span>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{$img->id}">
                    <div class="space-4"></div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-primary" type="submit">
                                <i class="icon-ok bigger-110"></i>
                                提交
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <!-- <button class="btn" type="reset">
                                <i class="icon-undo bigger-110"></i>
                                重置
                            </button> -->
                            <a href="/admin/v1/newimg/index"><button class="btn" type="button">
                                <i class="icon-undo bigger-110"></i>
                                返回
                            </button></a>
                        </div>
                    </div>

                    <div class="hr hr-24"></div>

                </form>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
</div><!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->


{/block}

{block name="js"}
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $("#form").submit(function () {
        var formData=new FormData($("#form")[0]);
        $.ajax({
            url:"/admin/v1/newimg/editPost",
            type:'post',
            processData : false,
            contentType : false,
            data:formData,
            success: function($data) {
                console.log($data);
                if($data.code == 200){
                    layer.open({
                        content: $data.message,
                        btn: ['确定'],
                        yes: function(index, layero){
                            location.href='/admin/v1/newimg/index';
                        },
                        cancel: function(){
                            //右上角关闭回调
                            return false //该代码可禁止点击该按钮关闭
                        }
                    });

                }else{
                    layer.msg($data.message);
                }
            }
        })
        return false;
    })

</script>

{/block}