<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>农场租赁</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<body>
	{include file="/v1/public/head"/}

	<div id="navigation_1"><!-- 导航 -->
		<div class="container">
			<div id="navigation_left">
				<a style="text-decoration: none;" href="/index.php/api/v1/index/index"><img src="/static/image/logo.png" alt=""></a>
			</div>
			<div id="navigation_right">
				<div class="navigation_1 bottom_6_1">
					<a style="text-decoration: none;"  class="navigation_3" href="/index.php/api/v1/index/index"><div class="navigation_2">首页</div></a>
					<a style="text-decoration: none;" class="navigation_3" href="/index.php/api/v1/farm/index"><div class="navigation_2 navigation_3_active">智慧农业</div></a>
					<a style="text-decoration: none;" class="navigation_3" href="/index.php/api/v1/other/other_product_description"><div class="navigation_2">产品教程</div></a>
					<a style="text-decoration: none;" class="navigation_3" href=""><div class="navigation_2">论坛</div></a>
					<a style="text-decoration: none;" class="navigation_3" href="/index.php/api/v1/other/other_about_us"><div class="navigation_2">关于我们</div></a>
				</div>
			</div>
		</div>
	</div>






	<!-- 	翻页 -->

	<div class="container">
		<br><span style="color: #7e7f7e;">农场租赁</span><br><br>
					<div class="show_farm" style="height: 400px;">
					{foreach $data as $v}
						<div class="show_farm_1"><!-- 第一个农场 -->
							<a style="text-decoration: none;" href="/index.php/api/v1/farm/farm_detail?farm_id={$v.id}">

								<img src="/static/image/picture_1.png" alt="">
								<div class="show_farm_text">
									<div class="show_farm_name"><span>{$v.name}</span></div>
										<div  class="bottom_6_1 show_farm_map">
												<div class="show_farm_map_left"><img src="/static/image/ico_9.png" alt=""></div>
												<div class="show_farm_map_right">{$v.province}{$v.city}{$v.address}</div>
										</div>
									<div class="bottom_6_1 show_farm_money">
											<div class="show_farm_money_left" style="width: 220px;">
												{foreach $v.service as $z}
										<!-- 	    <button class="show_farm_button">按需种植</button>
											    <button class="show_farm_button">随时来访</button> -->
											   <button class="show_farm_button">{$z}</button>
											   {/foreach}


											</div>
											<div class="show_farm_money_right" style="margin-left: 0px;"><span style="font-size: 23px;color:#e00000; ">{$v.price}</span>元/
											{switch $v.lease_type }
											    {case 1 }年{/case}
											    {case 2}半年{/case}
											    {case 3}季{/case}
											    {case 4}月{/case}
											    {default /}
											{/switch}
											</div>
									</div>
								</div>
							</a>
						</div>
						{/foreach}
					</div>
		{$data|raw}


	</div>









	{include file="/v1/public/foot"/}
</body>
</html>