{include file="public/head"/}
<!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
<div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">反馈详情</div>
                                <div class="widget-function am-fr">
                                   
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-border-form tpl-form-border-br" action="/ami/feed/index">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">姓名 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="name" class="tpl-form-input" id="user-name" value="{$user->find($data.user_id)->name}">
                                            <small>Name</small>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">电话 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="phone" class="tpl-form-input" id="user-name" value="{$data.phone}">
                                            <small>Phone</small>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">反馈内容 </label>
                                        <div class="am-u-sm-9">
                                            <textarea name="content" class="tpl-form-input" id="user-name" >{$data.content}</textarea> 
                                            <small>Content of the Feedback</small>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">创建时间 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="create_time" class="tpl-form-input" id="user-name" value="{$data.create_time}">
                                            <small>Create Time</small>
                                        </div>
                                    </div>  

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <input type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success " value="返回" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
</div>
</div>
</div>